body {
  font-family: monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.simple-button {
  border-color: white;
  padding: 10px;
  border: 1px solid black;
}

.group {
  height: 100px;
  width: 100px;
}

.head-main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Hero-bg.png");
  width: 100%;
  height: 50vw;
  max-width: 1440px;
  max-height: 652px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  width: 60%;
}

.contact-btn {
  background-color: navy;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.content1 {
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content1 p {
  width: 50%;
}

.content2 {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  
}


.content3{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 60px;
        margin-left: 200px;
}

.content4 {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin:0px 200px;
}


.baba{
  width: 30%;
  /* display: block;
  margin: 0 auto; */
  display: flex;
  gap: 100px;
  margin: 0 auto;

}

.column-1{
  background-color: #fff6f4;
  box-shadow: 2px 3px 4px;
  padding: 30px;
}

.column-2{
  background-color: #004CE80D;
  box-shadow: 2px 3px 4px;
  padding: 30px;
}

.column-3{
  box-shadow: 2px 3px 4px;
  padding: 30px;
  background-color: #fff6f4;
}

.flexing{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px 158px;
  gap: 10px;
box-shadow: 1px 2px 3px ;
}

.support{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  background-image: url('../assets/handshake.jpg');
  width: 100%;
  height: 50vw;
  max-width: 1440px;
  max-height: 652px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-end{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}


@media screen and (max-width:600px) {
    .baba,.content1,.content2,.content3{
      flex-direction: column;
    }
    *{
      padding: 0;
      border: 0;
    }
    iframe{
      width: 500px;
      padding: 10px;
    }
}

@media screen and (min-width:600px) and (max-width:992px){
    .baba{
      flex-direction: column;
    }
}